<div class="row">
    <div class="col-md-8">
        <h1> @ViewBag.Title</h1>
    </div>
    <div class="col-md-4">
        <div class="dateRangePicker">
            <div id="reportrange">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
    </div>
</div>
