@{
    ViewBag.Title = "MonthWeight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fitbit Download</h1>

<div class="alert alert-success">
    Your Fitbit download has started.   You'll receive a notification once it's complete.
</div>

