

.map {
    height: 500px;
}

ul.laps {
    list-style-type: none;
    padding: 0;
}


li.lap {
    padding: 0;
    list-style-type: none;
    text-align: left;
    cursor: pointer;
    width: 80%;
}

 .selectedLap
    {
        background-color: #e1f3d1;
    }


.lapDetails {
    display: inline-block;
    width: 100%;
    padding-bottom: 1px;
        font-size: 11px;
    font-weight: 700;
}

.lapName {
    display: inline-block;
}

.lapValue {
    float: right;

    /*  used to align lapValue and lapUnits where font sizes are different */
        display: flex;
    align-items: baseline;
}

.lapUnits {
    font-size: 10px;
    float: right;
    vertical-align: bottom;
}


#mapid {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

#nomap {
       margin-top: 10px;
}


.zone {
        padding: 1px 0px;
}

.zones{
    width:100%;
        font-weight: 700;
    font-size: 11px;
}

.zoneLabel{
position:absolute;
right:18px;

}

.zonePercentage {
color:red;
}

.zoneDuration{
    padding: 0 4px;
}

