/* https://coolors.co/955E42-0057a1-955e42-873d48-dc758f */
.SmallText {
  font-weight: 400;
  font-size: 11px;
}
.SmallTextHeavy {
  font-weight: 700;
  font-size: 11px;
}
.map {
  height: 500px;
}
ul.laps {
  list-style-type: none;
  padding: 0;
}
li.lap {
  padding: 0;
  list-style-type: none;
  text-align: left;
  cursor: pointer;
  width: 80%;
}
.selectedLap {
  background-color: #B9D1E5;
}
.lapDetails {
  display: inline-block;
  width: 100%;
  padding-bottom: 1px;
  padding-left: 8px;
  font-weight: 700;
  font-size: 11px;
}
.lapName {
  display: inline-block;
}
.lapValue {
  float: right;
  /*  used to align lapValue and lapUnits where font sizes are different */
  display: flex;
  align-items: baseline;
  padding-right: 8px;
}
.lapUnits {
  font-size: 10px;
  float: right;
  vertical-align: bottom;
}
#mapid {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
#nomap {
  margin-top: 10px;
}
.zone {
  padding: 1px 0px;
}
.zones {
  width: 100%;
  font-weight: 700;
  font-size: 11px;
}
.zoneLabel {
  position: absolute;
  right: 18px;
}
.zoneDuration {
  padding: 0 4px;
}
.summaryInfoTable {
  padding: 8px;
  vertical-align: top;
}
.summaryInfoLabelRight {
  padding: 5px;
  text-align: right;
  border-right: 1px solid #ccc;
  color: slategrey;
  font-weight: 400;
  font-size: 11px;
}
.summaryInfoLabelLeft {
  padding: 5px;
  text-align: left;
  border-left: 1px solid #ccc;
  color: slategrey;
  font-weight: 400;
  font-size: 11px;
}
.rightAlign {
  text-align: right;
}
.leftAlign {
  text-align: left;
}
.summaryInfoMinMaxLabel {
  text-align: center;
  font-weight: 400;
  font-size: 11px;
}
.summaryInfoValue {
  text-align: left;
  padding: 5px;
  font-weight: 700;
  font-size: 11px;
}
.summarySeperator {
  border-top: 1px solid #ccc;
}
.summaryInfoColumn {
  width: 18%;
}
.summaryInfoEdgeColumn {
  width: 23%;
}
.zoneBox {
  background-color: #B9D1E5;
  border: 1px solid;
  border-color: #00182C;
}
/* Used for inline editing of activity details.
   Search for INLINE_EDIT for other commented out code.
    .edit-input {
    display:none;
}

.save{
    display:none;
}*/