

.map {
    height: 500px;
}

ul.laps {
    list-style-type: none;
    padding: 0;
}


li.lap {
    padding: 0;
    list-style-type: none;
    text-align: left;
    cursor: pointer;
}


.lapDetails {
    display: inline-block;
    width: 100%;
    padding-bottom: 4px;
}

.lapName {
    display: inline-block;
}

.lapValue {
    float: right;
}

.lapUnits {
    font-size: 10px;
    float: right;
    vertical-align: bottom;
}


#mapid {
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

#nomap {
       margin-top: 10px;
}