body {
    padding-top: 50px;
    padding-bottom: 20px;
      font-size: 13px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #3a8904;
    border-color: #3a8904;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

h4{
    background-color: #c0ef95;
      border-color: #c0ef95;
    color:#3a8904;
    font-size:15px;
        padding: 4px 10px;
          border-radius: 1px;

}

a{
    color:#3a8904;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #235202;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;    
}

.navbar-nav .navbar-fixed-top .navbar-collapse
{
    max-height:90%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-logo {
    float:right;
}

.login-button{
    border:0;
    padding:0;
    background-color:white;
}

.ActivityTitle{
   display:inline-block;    
   font-size: 24px;    
   margin-top: 4px;
   margin-right:  15px;
}

.ActivityTitleSuffix
{
   font-size: 16px;      
}

.StravaLink {
   color:#FC4C02;
   float:right; 
   margin-top:6px;
}

.StravaLink:hover {
   color:#FC4C02;
}

.navbar-inverse .notifications {
  position: relative;
}
.navbar-inverse .notifications .badge {
  position: absolute;
  top: 8px;
  right: -6px;
  background: #c0ef95;
}

.align-right {
    text-align: right;

}

.date-selector{
     float: right;
}

.btn-date-selector {
   
    color: #3a8904;
    background-color: #c0ef95;
    border-color: #3a8904;
    display: inline;
    padding: 2px 12px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid;
    border-radius: 0px;
}

.summaryBox {
    border-style: solid;
    border-color: #c0ef95;
    border-width: 1px;
    background-color: #f6feee;
}

.SummaryTitle {
    font-size: 11px;
    text-align: center;
    color:slategrey;
}

.SummaryValue {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    margin-bottom: -6px;
}

.fvTab .tab-content {
    padding: 0px 0px;
}

/*.fvTab .tab-content {
    padding: 4px 16px;
}*/

.fvTab .nav-pills > li.active > a {
    border-radius: 1px;
    background-color: #c0ef95;
    color: #3a8904;
        padding: 4px 10px;

}

.fvTab .nav-pills > li > a {
    border-radius: 1px;
    padding: 4px 10px;
}

.zone {
        padding: 1px 0px;
}

.zones{
    width:100%;
        font-weight: 700;
    font-size: 11px;
}

.zoneLabel{
position:absolute;
right:18px;

}

.zonePercentage {
color:red;
}

.zoneDuration{
    padding: 0 4px;
}

