/* https://coolors.co/955E42-0057a1-955e42-873d48-dc758f */
.SmallText {
  font-weight: 400;
  font-size: 11px;
}
.SmallTextHeavy {
  font-weight: 700;
  font-size: 11px;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 13px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* Bootstrap Overrides */
.navbar-inverse {
  background-color: #00182C;
  border-color: #00182C;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
h4 {
  background-color: #E7EFF6;
  border-color: #0057a1;
  color: #0057a1;
  font-size: 15px;
  padding: 2px 10px;
  border-radius: 1px;
  margin-bottom: 4px;
  margin-top: 4px;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
a {
  color: #00182C;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #002a4e;
}
.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-nav .navbar-fixed-top .navbar-collapse {
  max-height: 90%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-logo {
  float: right;
}
.login-button {
  border: 0;
  padding: 0;
  background-color: white;
}
.ActivityTitle {
  display: inline-block;
  font-size: 24px;
  margin-top: 4px;
  margin-right: 15px;
}
.ActivityTitleSuffix {
  font-size: 16px;
}
.StravaLink {
  color: #FC4C02;
  float: right;
  margin-top: 6px;
}
.StravaLink:hover {
  color: #FC4C02;
}
.navbar-inverse .notifications {
  position: relative;
}
.navbar-inverse .notifications .badge {
  position: absolute;
  top: 8px;
  right: -6px;
  background: #0057a1;
}
.align-right {
  text-align: right;
}
.date-selector {
  float: right;
}
.btn-date-selector {
  color: #00182C;
  background-color: #0057a1;
  border-color: #00182C;
  display: inline;
  padding: 2px 12px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  border-radius: 0px;
}
.SummaryTitle {
  text-align: center;
  color: slategrey;
  font-weight: 400;
  font-size: 11px;
}
.SummaryValue {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  margin-bottom: -6px;
}
.SummaryPeakContainer {
  display: inline-block;
  width: 95%;
}
.SummaryPeakContainer .Left {
  float: left;
  width: 48%;
}
.SummaryPeakContainer .Right {
  float: right;
  width: 48%;
}
.SummaryPeakContainer .Peak {
  font-size: 10px;
  text-align: left;
}
.SummaryPeakContainer .Peak .Title {
  color: slategrey;
  font-weight: 400;
  margin-bottom: -5px;
}
.SummaryPeakContainer .Peak .Value {
  color: black;
  font-weight: 700;
}
.fvTab .tab-content {
  padding: 0px 0px;
}
.fvTab .nav-pills > li.active > a {
  border-radius: 1px;
  background-color: #0057a1;
  color: #ffffff;
  padding: 4px 10px;
  font-weight: 700;
  font-size: 13px;
}
.fvTab .nav-pills > li > a {
  border-radius: 1px;
  padding: 4px 10px;
  font-size: 13px;
}
.glyphicon-bell {
  top: 3px;
}
.table {
  margin-bottom: 0px;
}
.th {
  font-weight: 700;
  font-size: 11px;
}
.tr {
  font-weight: 400;
  font-size: 11px;
}
.modal-header {
  background-color: #E7EFF6;
  font-size: 18px;
}
.VisibleRow {
  display: table-row;
}
.Hidden {
  display: none;
}
.dateRangePicker {
  float: right;
  margin-top: 20px;
}
#reportrange {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.zoom {
  float: right;
}