@model FitnessViewer.Infrastructure.Models.Dto.SportSummaryDto
<div class="row">
    <div class="col-xs-3">
        <div class="SummaryValue">@Model.ActivityCount</div>
        <div class="SummaryTitle">Workouts</div>
    </div>
    <div class="col-xs-3">
        <div class="SummaryValue">@Model.DurationLabel</div>
        <div class="SummaryTitle">Time</div>
    </div>
    <div class="col-xs-3">
        <div class="SummaryValue">@Model.DistanceLabel</div>
        <div class="SummaryTitle">Distance</div>
    </div>
    <div class="col-xs-3">
        <div class="SummaryValue">@Model.SufferScore</div>
        <div class="SummaryTitle">SufferScore</div>
    </div>
</div>