@model FitnessViewer.Infrastructure.Models.Dto.AthleteDto
@{
    ViewBag.Title = @Model.FirstName + " " + @Model.LastName + "- Bike Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- Start Bike Layout-->
<div class="row">
    <div class="col-md-6">
        <h4>Average Bike Distance Per Week</h4>
        <canvas id="chart12weekBike" width="800" height="300" title="Recent Bike Activity Summary"></canvas>
    </div>
    <div class="col-md-6">
        <h4>Longest Ride Distance Per Week</h4>
        <canvas id="chartBikeLongestRide" width="800" height="300" title="Longest Ride Distance Per Week"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Bike PMC</h4>
        <canvas id="bikeTrainingLoadChart" width="800" height="300" title="Bike PMC Chart"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Peak Power Per Month</h4>
        <canvas id="chartPowerPeak" width="800" height="500" title="Peak Power Per Month"></canvas>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <h4>Power Curve</h4>
        <canvas id="chartPowerCurve" width="800" height="300" title="Power Curve"></canvas>
    </div>
</div>
        <!-- End Bike Layout-->

        @section scripts {
            <script type="text/javascript" src="~/Scripts/app/Controllers/bikeController.js"></script>
            <script type="text/javascript" src="~/Scripts/app/commonCharts.js"></script>
        }
