@model FitnessViewer.Infrastructure.Models.Dto.AthleteDto
@{
    ViewBag.Title = @Model.FirstName + " " + @Model.LastName + "- Bike Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- Start Bike Layout-->
<div class="row">
 
    <div class="col-md-6">
        <h4>Average Bike Distance Per Week</h4>
        <canvas id="chart12weekBike" width="800" height="300" title="Recent Bike Activity Summary"></canvas>
    </div>
  
    <div class="col-md-6">
        <h4>Bike PMC</h4>
        <canvas id="bikeTrainingLoadChart" width="800" height="300" title="Bike PMC Chart"></canvas>
    </div>
</div>
<!-- End Bike Layout-->

@section scripts {
    <script type="text/javascript" src="~/Scripts/app/Controllers/bikeController.js"></script>
    <script type="text/javascript" src="~/Scripts/app/commonCharts.js"></script>
}
