@model FitnessViewer.ViewModels.AthleteViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/dataTables")

<h1>@Model.FirstName @Model.LastName - Dashboard</h1>

<div class="row">
    <div class="col-md-4">@{Html.RenderPartial("RunningTimes", Model.RunningTime); }</div>
    <div class="col-md-4">Two blah blah blah blah blah blah blah blah blah</div>
    <div class="col-md-4">@{Html.RenderPartial("PeakPowerSummary", Model.PowerPeaks); }    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="table_id" class="table table table-striped table-hover compact ">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Dist mi
                    </th>
                    <th>Ele</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').dataTable({
                "ajax": "/api/activity",
                "autoWidth": false,
                "deferRender": true,
                "order": [[1, "desc"]],
                "columns": [{
                    "data": function (data, type, row, meta) {
                        return '<a href="/activity/view/' + data.Id + '">' + data.Name + '</a>';
                    }
                },
                {
                    "data": {
                        _: "Date",
                        sort: "StartDateLocal"
                    }
                },
                { "data": "ActivityTypeId" },
                { "data": "Distance" },
                { "data": "ElevationGain" },
                { "data": "ElapsedTime" }

                ]

                ,
                "columnDefs": [
                    { "className": "dt-right", "targets": [3, 4] },
                { "width": "60%", "targets": 0 }]
            });


        }
        )
    </script>

}