@model IEnumerable<FitnessViewer.Infrastructure.Models.Dto.RunningTimes>

<h4>Running Times</h4>
<div class="table-responsive">
    <table class="table">
        <tr>

            <th>Distance</th>
            <th>Time</th>
            <th>Description</th>
            <th>Date</th>
                    </tr>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.DistanceName</td>
                <td>@p.Time</td>
                <td>@Html.ActionLink(p.ActivityName.ToString(), "View", "Activity",new { Id = p.ActivityId },null)</td>
                <td>@p.ActivityDate.ToShortDateString()</td>
            </tr>
        }
    </table>
</div>

