@model IEnumerable<FitnessViewer.Infrastructure.Models.Dto.ZoneValueDto>
@if (Model != null && Model.Count() > 0)
{
    <div class="zones">
        @foreach (var pz in Model)
        {
            <div class="zone">
                <div class="zoneBox" style="width: @pz.DisplayPercentage%;">
                    <span class="zoneLabel">@pz.ZoneLabel</span>
                    <span class="zoneDuration">@pz.Duration</span>
                </div>
            </div>
        }
    </div>
}
