@model FitnessViewer.ViewModels.ActivityViewModel
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1></h1>

</div>

<div class="row">
    @Model.Name
</div>